# Copie este arquivo: cp .env.example .env
# Preencha os valores antes de rodar o projeto

# PostgreSQL
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# MongoDB
MONGO_DB=

# Cassandra
CASSANDRA_KEYSPACE=
CASSANDRA_DATACENTER=

# Backend
SPRING_PORT=

# Frontend
REACT_APP_API_URL=