body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0d0d0d;
    color: white;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.logo {
    font-size: 24px;
    color: #c84bff;
    font-weight: bold;
}

.header input {
    width: 40%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background: #1a1a1a;
    color: white;
}

/* BANNER */
.banner {
    height: 200px;
    margin: 20px;
    border-radius: 15px;
    background: linear-gradient(90deg, #c84bff, #00c2ff);
    display: flex;
    align-items: center;
    padding: 20px;
}

.banner button {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

/* SEÇÃO */
.section {
    padding: 20px;
}

.cards {
    display: flex;
    gap: 15px;
}

/* CARDS */
.card {
    width: 180px;
    background: #181818;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.card p {
    padding: 10px;
}

/* PLAYER */
.player {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #111;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.music-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.cover {
    width: 40px;
    height: 40px;
    background: linear-gradient(#c84bff, #ff4b9b);
    border-radius: 5px;
}

/* ÁREA LOGO + BOTÃO */
.logo-area {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* BOTÃO UPLOAD */
.upload-btn {
    padding: 6px 14px;
    border-radius: 20px;
    border: none;

    background: linear-gradient(45deg, #c84bff, #00c2ff);
    color: white;
    font-size: 14px;

    cursor: pointer;
    transition: 0.3s;
}

.upload-btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
}


/* UPLOAD PAGE */
.upload-container {
    max-width: 400px;
    margin: 80px auto;
    text-align: center;
}

.upload-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;

    border: none;
    border-radius: 8px;

    background: #1e1e1e;
    color: white;
}

.upload-container input[type="file"] {
    background: none;
}

.upload-container button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;

    border: none;
    border-radius: 25px;

    background: linear-gradient(45deg, #c84bff, #00c2ff);
    color: white;
    font-weight: bold;

    cursor: pointer;
    transition: 0.3s;
}

.upload-container button:hover {
    transform: scale(1.05);
}


.login-body {
    background: linear-gradient(180deg, #1db954, #121212);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
}

.login-container {
    background: #000;
    padding: 40px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background: #1db954;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}





/* LOGIN PAGE */
.login-body {
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #1db954, #121212);
}

/* CAIXA */
.login-box {
    background: #181818;
    padding: 40px;
    border-radius: 15px;
    width: 300px;
    text-align: center;

    box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

/* LOGO */
.logo {
    color: #c84bff;
    margin-bottom: 20px;
}

/* INPUTS */
.login-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;

    border: none;
    border-radius: 8px;

    background: #282828;
    color: white;
}

/* BOTÃO */
.login-box button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;

    border: none;
    border-radius: 25px;

    background: #1db954;
    color: white;
    font-weight: bold;

    cursor: pointer;
    transition: 0.3s;
}

.login-box button:hover {
    background: #1ed760;
}

/* TEXTO */
.register {
    margin-top: 15px;
    font-size: 14px;
}

.register a {
    color: #1db954;
    text-decoration: none;
}



